<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919093364183-k51ahtd741510i3drhoqme15taciasba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919093364183-k51ahtd741510i3drhoqme15taciasba</string>
	<key>API_KEY</key>
	<string>AIzaSyBfkjEyucSVkB7k5VpfcEI19xlf7sNXNk4</string>
	<key>GCM_SENDER_ID</key>
	<string>919093364183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techgeometry.susu</string>
	<key>PROJECT_ID</key>
	<string>susu-e8cd2</string>
	<key>STORAGE_BUCKET</key>
	<string>susu-e8cd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919093364183:ios:b6d3b83b3e43974d447792</string>
</dict>
</plist>